.heading,
.ad {
  text-align: center;
  color: #000080;
}

.heading p {
  margin: 3px;
  padding: 0;
}
.container {
  display: flex;
}

.left,
.right {
  flex: 1;
  text-align: center;
  list-style-position: inside;
  align-items: center;
}
table {
  margin: 10px auto;
  padding: 0;
}
li {
  margin-bottom: 30px;
}
